.cart {
    position: fixed;
    top: 5px;
    bottom: unset;
    right: 1rem;
    cursor: pointer;
    z-index: 5;
    padding: 1rem;
}


@media(min-width: 767px) {
    .cart {
        top: 6rem;
        bottom: unset;
    }
}

