.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 2px #ffab91;
}

.card:hover {
    box-shadow: 0px 0px 5px 3px #e65100 ;
}

.card-content {
    flex-grow: 1;
}

.card .card-image img {
    object-fit: cover;
    cursor: pointer;
}

.card-price {
    font-size: 1.2rem;
}

.card-action {
    box-shadow: 0px 0px 4px 2px #ffab91;
}

.moreBtn {
    width: 160px;
    margin: 0 auto 15px;
}

